body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    display: flex;
}

img {
    width: auto;
    height: 200px;
}

.player-choice-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-choice-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
